@model TimeStampViewModel
@{
    ViewData["Title"] = "Get Unix Timestamp";
}

<h2 class="text-center">Current Unix Timestamp, Date and Local time</h2>

<div class="row">
    <div class="text-center">
        @if (Model != null)
        {
            <p class="text-center">
                Unix Time: @Model.Unix
                <a href="" class="copy-btn" data-copy-value="@Model.Unix">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-copy" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                    </svg>
                </a>
                <input type="text" value="@Model.Unix" id="unixInput" style="display:none;">
            </p>
            <p class="text-center">UTC Time: @Model.Utc</p>
            <p class="text-center">Local Time: @Model.Local (if available*)</p>

            <p class="text-center"><a href="/Timestamp/GetCurrent" class="btn btn-outline-dark">Refresh</a></p>
        }
        else
        {
            <p class="text-center">Loading data...</p>
        }
    </div>
</div>

<footer class="text-center">
    <p>* - Specific environments like Docker Containers etc., will need a setup to make local time work properly.</p>
</footer>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>copyUnix();</script>
}